.gridContainer {
	display: grid;
	grid-template-columns: repeat(7, 60px);
	grid-template-rows: repeat(6, 60px);
	width: 420px;
	justify-content: center;
	background-color: #061C74;	
	margin-top: 40px;
	position: absolute;
	left: 35%;


}

.box {
	background-color: white;
	border-radius: 50%;
	margin: 10px;
	text-align: center;

}

.red-piece {
	background-color: #ff2626

}

.yellow-piece {
	background-color: #fffb26

}


.red{
	background-color:red;
}.green{
	background-color:green;
}











