html {
	background: url(images/manuscript.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
 /*Above taken from CSS Tricks*/



h1 {
	font-family: 'MedievalSharp', cursive;
	font-size: 50px;
	background-color: white;
	display: inline-block;
	border-radius: 10%;
	padding: 10px;


}



table {
	margin: 0 auto;
}

audio {
	width: 100px;
	position: absolute;
	bottom: 1%;
	left: 5%;
	margin: 0 auto;
}


.gridContainer {
	justify-content: right;
	background-color: #4a6fb6;
	transform: rotate(270deg);
	border-radius: 5%;


}

.above {
	text-align: center;
}

.box {
	background-color: white;
	border-radius: 50%;


}


.white {
	background-color: white;
	border-radius: 50%;

	text-align: center;
}



/*.red{
	background-color: #ba9e55;

}

.yellow{
	background-color: yellow;
}
*/

.column {
	width: 60px;
	height: 60px;
	margin: 10px;
}

.row {
	width: 60px;
	height: 60px;
	margin: 10px;
}

.modal-background {
  padding: 40px;
  background-color: rgba(0, 0, 0, .3);
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  z-index: 1;
}

.modal-content {
font-family: 'MedievalSharp', cursive;
font-size: 20px;
margin: 0 auto;
  padding: 40px 20px;
  color: #444;
  background-color: white;
  width: 60%;
}


#showModal {
	font-family: 'MedievalSharp', cursive;
	font-size: .85em;
	display: flex;
	align-items: center;
	margin: 0 auto;
	padding: 10px;
	border-radius: 5%;
}

#close {
	font-family: 'MedievalSharp', cursive;
}










